.loadingContainer {
  height: 100%;
}

.logoSpinner {
  height: 100%;
  position: relative;
}

/* .introText {
  position: relative;
  top: 1rem;
  color: var(--text-color);
  font-size: 1.6rem;
  margin-right: 1rem;
}

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}


.point1 {
  border-radius: 100%;
  border: 3px solid black;
  animation-name: pointA;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.point2 {
  border: 3px solid black;
  border-radius: 100%;
  animation-name: pointA;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.point3 {
  border: 3px solid black;
  border-radius: 100%;
  animation-name: pointA;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
} */

/* animation: name duration timing-function delay iteration-count direction fill-mode; */

/* @keyframes pointA {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 15px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
} */